{% extends  'template.html'%}
{% block content %} 
<center>
<h1>Tu carta</h1>
<label>Codigo Eaf10428 </label>
<div class="p-3 mb-0 bg-light text-dark">
Saludos, querido usuario
Hemos leído tu carta, la cual nos cuenta lo siguiente:
(Texto de la carta) 
A partir de esto, te queremos compartir una respuesta de nuestros psicólogos especializados:
(Respuesta del psicólogo)
Esperamos saber pronto de ti y de tu mejoría, y que este consejo te haya sido útil ☺️
Respuesta dada por: (Nombre del psicólogo)
Recuerda que puedes descargar la aplicación "Sanando Ando" desde la Play Store o App Store para asignar tu cita o pedir un servicio de seguimiento con nuestro personal registrado. También puedes contactar a nuestras líneas de servicio: 604 8362390 - 034 4893002368
</div>

</center>
{% endblock  %}

